.table-train{
    margin-top:22px;
    display: flex;
    flex-direction: column;
}
.table-train__container{
    display: flex;
}
.table-train__card{
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 240px;
    align-items: center;
    justify-content: center;
}
.table-train__title{
    font-size: 28px;
    color: #22356f;
    line-height: 33px;
    margin-right: 62px;
}
.table-train__about{
    font-size: 16px;
    line-height: 25px;
    color:rgba(34, 53, 111, 0.5);
    width: 298px;
}